<p>view-task works!</p>
<div class="container-fluid">
    <div class="row container-fluid">
        <div class="col-sm-2">
            <form [formGroup]="searchForm">
                <ngx-select-dropdown id="searchInput" [formControl]="searchInputControl" [multiple]="false"
                    [config]="projectConfig" [options]="projectOptions">
                </ngx-select-dropdown>

                <!-- <input id="searchInput" type="text" placeholder="Search..." class="form-control"
                    [formControl]="searchInputControl" /> -->
            </form>
        </div>
        <div class="col-sm-10 form-inline col-ignore-padding ">
            <div class="col-sm-1 reponseiveRowMargin">
                <span>Sort:</span>
            </div>
            <div class="col-sm-11 btn-group ">
                <button class="col-sm-3 btn btn-primary btn-action-margin" (click)="onSort('StartDate')"
                    value="StartDate">
                    Start Date
                </button>
                <button class="col-sm-3  btn btn-primary btn-action-margin" (click)="onSort('EndDate')" value="EndDate">
                    End Date
                </button>

                <button class="col-sm-3 btn btn-primary btn-action-margin" (click)="onSort('Priority')"
                    value="Priority">
                    Priority
                </button>

                <button class="col-sm-3 btn btn-primary btn-action-margin" (click)="onSort('NoOfClosedTasks')"
                    value="Completed">
                    Completed
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div class='row'>
                <div class='col-md-6'>
                </div>
            </div>
            <div class='table-responsive'>
                <table class='table' *ngIf='tasks && tasks.length'>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Parent</th>
                            <th>Priority</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of tasks | searchTask : searchInputControl | sort:sortBy ">
                            <td>
                                {{ task.TaskName }}
                            </td>
                            <td>
                                <div *ngIf="task.ParentTask">
                                    {{task.ParentTask.ParentTaskName}}
                                </div>
                            </td>

                            <td>{{ task.Priority }}</td>
                            <td>{{ task.StartDate }}</td>
                            <td>{{ task.EndDate }}</td>
                            <td>
                                <button class='btn btn-primary' value="Edit"
                                    [routerLink]="['/add-task',{id:task.TaskId}]">Edit</button> &nbsp;
                                <button class='btn btn-primary' value="End Task">End Task</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <div *ngIf='errorMessage' class='alert alert-danger'>
                Error: {{ errorMessage }}
            </div>
        </div>
    </div>
</div>